* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #ffffff;
}
.body {
    margin: 0;
}
.header-guarantee {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
}
.guaratee-main-text, .subheading {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 20px 200px;
}
.subheading {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #EEEEEE;
    margin-bottom: 40px;
}
.guaratee-main-text h2 {
    margin-bottom: 40px; 
}
.list-1, .list-2, .list-3, .list-4,
.list-5, .list-6 {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #EEEEEE;
    margin-bottom: 40px;
}
.footer-guarantee p {
    padding: 30px 30px;
    border-radius: 20px;
    background-color: #EEEEEE;
    margin-bottom: 40px;
}
.list-4 ul {
    padding-left: 15px;
    list-style-type:square
}
.list-4 li{
    padding-bottom: 10px;
}