
body {
    margin: 0;
}
.header {
    display: flex;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    border-bottom: 3px solid black;
    margin-bottom: 50px;
}
.logo {
    margin-right: 610px;
    padding-left: 50px;
}
.header h3 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.menu {
    display: flex;
    font-size: 120%;
}
.menu p {
    padding-right: 120px;
}

.menu img {
    padding-top: 17px;
}
.banner {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-bottom: 120px ;
}
.main-butt {
    width: 200px;
    height: 55px;
    margin: auto;
    text-align: center;
    padding-top: 3px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 220px;
}
.rectangle {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: aliceblue;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 20px;
    background-color: #171717;
    padding: 40px 0px;
}
.main {
    padding-bottom: 80px;
    margin-bottom: 220px;
}
.heading-2 {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 120%;
    margin-bottom: 90px;
}
.product-list-banner {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 70px;
    border-bottom: 3px solid black;
    margin-bottom: 280px;
}
.product-1, .product-2, .product-3, .product-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.product-name-1, .product-name-2,
.product-name-3, .product-name-4 {
    font-size: 120%;
    margin-bottom: 0px;
}
.product-price-1, .product-price-2, 
.product-price-3, .product-price-4 {
    font-weight: 800;
    font-size: 140%;
    margin-bottom: 5px;
    padding: 12px 70px;
    border: 2px solid black;
}
.product-info-1, .product-info-2, 
.product-info-3, .product-info-4 {
    font-weight: 600;
    padding: 15px 52px;
    background-color: black;
    color: aliceblue;
    font-size: 110%;
}
.main-greeting {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.img-girl {
    padding-left: 7vw;
}
.greeting-text {
    padding-left: 140px;
    margin-right: 190px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.greeting-text h2 {
    padding-bottom: 20px;
    font-size: 260%;
    margin-top: 28px;
}
.greeting-text p {
    font-size: 120%;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.main-greeting {
    margin-bottom: 120px;
}
.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 210px;
    font-size: 130%;

}
.footer-img {
    display: flex;
    justify-content: center;

}
.footer {
    display: flex;
    background-color: #171717;
    color: aliceblue;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 50px 150px 50px 7vw;
}

@media screen and (max-width: 1500px) {
.logo {
    margin-right: 600px;
}
.header p {
    padding-right: 60px;
}
}
@media screen and (max-width: 1410px) {
    .greeting-text {
        margin-right: 110px;
    }
}
@media screen and (max-width: 1300px) {
    .logo {
        margin-right: 480px;
    }
    .header p {
        padding-right: 30px;
    }
    .greeting-text p {
        font-size: 110%;
    }
    .greeting-text h2 {
        font-size: 180%;
    }
}
@media screen and (max-width: 1210px) {
    .footer-text {
        font-size: 110%;
    }
}

@media screen and (max-width:1100px) {
    .img-girl img {
        width: 294px;
        height: 416px;  
    }
    .greeting-text {
        padding-left: 90px;
    }
    .greeting-text h2 {
        font-size: 140%;
    }
    .greeting-text p {
        font-size: 90%;
        padding-bottom: 3px;
        margin-bottom: 3px;
    }
    .footer-text {
        padding-right: 70px;
    }
    .footer-img img {
        width: 317px;
        height: 296px;

    }
    .footer {
        padding: 50px 90px 50px 7vw;
    }

}
@media screen and (max-width: 1065px) {
    .logo {
        margin-right: 320px;
    }
    .header p {
        padding-right: 15px;
    }
}